.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  // transition: opacity var(--hover-effect);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.buynow-modal {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  // height: 644px;
  padding: 32px 54px;
  border-radius: 10px;
  outline: 2px solid #f8d24e;
  background-color: #fcfcfc;
  
  // transition: transform var(--hover-effect);

  @media screen and (max-width: 479px) {
    width: 94%;
    top: 12%;
    transform: translateX(-50%);
  }

  @media screen and (min-width: 480px) {
    width: 568px;
    // min-height: 644px;
    top: 12%;
    transform: translateX(-50%);
  }

  @media screen and (min-width: 1199px) {
    min-width: 568px;
    min-height: 644px;
  }
 
}

.backdrop.is-hidden .buynow-modal {
  transform: skew(60deg, 100deg) translateX(-80%) translateY(-30%);
}

.modal-button__close {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  top: 12px;
  right: 12px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--background-color-weite);
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.modal-button__icon {
  fill: #131313;
}

/* Оформление модального окна */


.buynow__title {
  display: block;
  text-align: center;
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(28 / 20);
  color: #131313;
  margin-bottom: 40px;
}

// ========== сделать ВЕМ =========
.buynow-menu {
  display: flex;
  justify-content: flex-end;
  
  margin-bottom: 40px;
}

  // ===== p =====
.buynow-menu__text {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  padding-top: 19px;
}

// ===== li =====
.buynow-menu__list {
  height: 198px;
  outline: 1px solid blue;
}

.buynow-menu__list:not(:last-child) {
  margin-right: 32px;
}

// спрятать чек appearance: none;
  .buynow-menu__form {
   appearance: none;
   margin: 0;
   width: 132px;
   height: 132px;
   background-image: url(/images/cream.jpg);
   border-radius: 98px;

    @media screen and (mim-width: 767px) {
      width: 368px;
    }
  }


// ================================================

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-form__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 368px;
}

.modal-form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--color-font-contact-p);
}

.modal-form__wrapper {
  position: relative;
  display: inline-flex;
  flex-direction: column;
}

.modal-form__wrapper:not(:last-child) {
  margin-bottom: 16px;
}

.modal-form__field {
  font-size: 12px;
  width: 368px;
  height: 42px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #84a178;
  border-radius: 10px;
  padding: 11px 16px;
  cursor: pointer;
  outline: none;
  background-color: rgba(248, 210, 78, 0.1);
}

// .modal-form__field:required {
//   border-color: #f44336;
// }

.modal-form__message {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  width: 368px;
  height: 84px;
  padding: 11px 16px;
  margin-bottom: 32px;
  cursor: pointer;
  resize: none;
  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
}

.modal-form__message:focus {
  border: 1px solid blue;
} 

.modal-form__message:checked {
  border: 1px solid red;
}

.modal__button {
  width: 121px;
  height: 42px;
  border-radius: 10px;
  color: #131313;
  background-color: #f8d24e;
}

