.backdrop.is-hidden .modal {
  transform: skew(60deg, 100deg) translateX(-80%) translateY(-30%);
}

.modal-button__close {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  top: 12px;
  right: 12px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--background-color-weite);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-button__icon {
  fill: #000000;
}

.modal-button__icon:hover,
.modal-button__icon:focus {
  fill: var(--color-fill-hover);
  transition: fill var(--hover-effect);
}


.modal-buynow {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 28px;
  transform: translate(-50%, -50%);
  width: 280px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid #f8d24e;
  padding: 28px 28px;
  z-index: 100;

  @media screen and (min-width: 768px) {
    padding: 32px 54px;
    
  }
}


.modal-buynow__btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background-color: transparent;
  border: none;
}
.modal-buynow__icon-close {
  display: block;
  width: 20px;
  height: 20px;
  fill: #131313;
}


.modal-buynow__form {
  display: flex;
  flex-direction: column;
  
}
.form-buy__title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #131313;
  width: 221px;
  height: 24.5px;
  left: 30px;
  top: 28px;
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 84px;

}
.buynow__card-box {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 90px;
  align-items: center;
}
.buynow__card-wrapper {
  position: relative;
  width: 132px;
  height: 136px;
  border: none;
  border-radius: 16px;
}
.buynow__card-input {
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 132px;
  height: 206px;
  opacity: 0;

  &:checked ~ .buynow__box-first {
    background-color: #aec6a5;
  }
  &:checked ~ .buynow__box-second {
    background-color: #edd276;
  }
  &:checked ~ .buynow__box-third {
    background-color: #d6936d;
  }
}
.buynow__box-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 132px;
  height: 136px;
  border-radius: 16px;
  position: absolute;
  top: -1px;
  left: -1px;
}
.buynow__box-title:before {
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 60%;
  left: -1px;
  width: 132px;
  height: 140px;
  background-repeat: no-repeat;
}
.buynow__box-first {
  border: 2px solid #aec6a5;
}
.buynow__box-first:before {
  position: absolute;
  top: -50%;
  left: -1px;
  background-image: url(../../images/cream.png),
    linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7));
  box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
  background-size: 100%;
}
.buynow__box-second {
  border: 2px solid #edd276;
}
.buynow__box-second::before {
  position: absolute;
  top: -50%;
  left: -1px;
  background-image: url(../../images/coffee.png),
    linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
  background-size: 100%;
}
.buynow__box-third {
  border: 2px solid #d6936d;
}
.buynow__box-third::before {
  position: absolute;
  top: -50%;
  left: -1px;
  background-image: url(../../images/milkshake.png),
    linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
  background-size: 100%;
}
.buynow__card-title {
  margin-top: 95px;
  z-index: 3;
  text-align: center;
  text-transform: uppercase;
  color: #131313;
  font-size: 16px;
  font-weight: 700;
  line-height: calc(20 / 16);
}


.modal-buynow__form--input {
  display: block;
  width: 100%;
  height: 32px;
  padding: 8px 12px;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(16.8 / 12);
  color: #131313;
  background-color: #fcf8eb;
  border: 1px solid #0a8817;
  border-radius: 10px;

   @media screen and (min-width: 768px) {
    padding: 11px 16px;
    margin-bottom: 16px;
  }


}
.modal-buynow__form--message {
  display: block;
  width: 100%;
  height: 65px;
  padding: 8px 12px;
  color: #131313;
  background-color: #fcf8eb;
  border: 1px solid #0a8817;
  border-radius: 10px;
  resize: none;
  font-size: 12px;
  line-height: calc(16.8 / 12);
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    padding: 11px 16px;
  }
}

.modal-buynow__form--button {
  align-self: center;
  text-align: center;
  width: 114px;
  min-height: 42px;
  padding: 12px 34px;
  background-color: #f8d24e;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #131313;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border: 1px solid #f8d24e;
}
@media screen and (min-width: 768px) {
  .modal-buynow {
    min-width: 568px;
    top: 50%;
    padding-bottom: 32px;
  }
  .form-buy__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 103px;
    font-size: 20px;
    line-height: calc(28 / 20);
  }
  .buynow__card-box {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    row-gap: 0;
    column-gap: 32px;
    justify-content: center;
  }
  .modal-buynow__form--message {
    width: 368px;
    height: 84px;
  }

  .modal-buynow__form--message {
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    &:focus {
      border-color: #f8d24e;
      outline: none;
    }
  }
  .modal-buynow__form--input {
    margin-left: auto;
    margin-right: auto;
    width: 368px;
    height: 42px;
    
    &:focus {
      border-color: #f8d24e;
      outline: none;
    }
  }
}
