
.portfolio {
    @extend %section;
}
/* цвет фона */
.portfolio-page {
    background-color: var(--background-color-weite);
   
}

.portfolio-container {
    @extend %container;
    display: flex;
    flex-direction: column;
    --items:1;

    @media screen and (min-width: 768px) {
        --items:2;
    }
    
    @media screen and (min-width: 1200px) {
        --items:3;   
    }
}