%section {
    padding-top: 60px;
    padding-bottom: 60px;   

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;   
    }  
}


%container {
    padding-right: 15px;
    padding-left: 15px; 
    margin-left: auto;  
    margin-right: auto; 

    // phone screen 
    @media screen and (min-width: 480px) {
        width: 480px;
    }

    // tablet screen 
    @media screen and (min-width: 768px) {
        width: 768px;
    }

    // desktop screen 
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}




